@model Lab2.Models.Exhibit
@{
    var museums = (SelectList)ViewBag.Museums;
}

<h2>Добавить экспонат</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Era" class="control-label">Эпоха</label>
        <input asp-for="Era" class="form-control" />
        <span asp-validation-for="Era" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Цена</label>
        <input asp-for="Price" class="form-control" /> 
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MuseumId" class="control-label">Музей</label>
        <select asp-for="MuseumId" asp-items="museums" class="form-control"></select>
    </div> 
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

    <a asp-action="Index">Назад</a>
</form>
