@page
@model Lab1.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}
<div class="text-center">
    <h1 class="display-4">Редактирование</h1>
    <p>Редактирование</p>
    <p>Поиск по названию блюда и редактирование его ингридиентов и способа готовки</p>
    <form method="post" action="~/edit">
        <label>Название блюда:</label><br />
        <input type="text" name="name" /><br />
        <label>Ингридиенты</label><br />
        <input type="text" name="pieces" /><br />
        <label>Инструкции</label><br />
        <input type="text" name="type" /><br />
        <input type="submit" value="Редактировать" />
    </form>






</div>
