@{
    ViewData["Title"] = "Задание";
}

<h1>@ViewData["Title"]</h1>

<p>Лабораторная работа №3</p>
<p>Выполнил работу студент ДИНРБ-31 Кузургалиев Радмир</p>
<p>Вариант задания - 14</p>
<p>Музей (название, адрес, коллекции, куратор, год открытия)-Экспонат (название, описание, эпоха, стоимость)</p>